node_modules/
.env
dist/
.DS_Store
backend/server_error.log
frontend/frontend_error.log
frontend/frontend_server.log

.vercel

# Ignore templates and documentation
Documention.html
Final_Documentation_With_Codes.htm
Final_Documentation_With_Codes_files/
ShopEZ Project Templets.zip
